:root {
  --main-text: #101010;
  --main-bg: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #ffffff;
    --main-bg: #242424;
    transition: .5s;
  }
}

 
body {
  color: var(--main-text);
  background-color: var(--main-bg);
}