:root {
  --main-text: #101010;
  --main-bg: #ffffff;
  --ui-color: #ffe6e6;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #ffffff;
    --main-bg: #242424;
    --ui-color: #ffbb99;
    transition: .5s;
  }
}

 
body {
  color: var(--main-text);
  background-color: var(--main-bg);
  margin: 0px;
}
header {
  background-color: var(--ui-color);
  width: 100vw;
  height: 10vh;
}
.headerimg{
  height: 10vh;
  position: absolute;
  left: 3vw;
}