header {
    background: rgba(0, 0, 0, 0.5);
}
noarticle {
    display: block;
}
.movable {
    width: 100%;
    position: absolute;
    top: 60px;
}
.content {
    width: calc(100% - 40px);
    max-width: 750px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
}
.title {
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid #555;
}
