:root {
  --main-text: #101010;
  --main-bg: #ffffff;
  --ui-color: #ffbb99;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #ffffff;
    --main-bg: #242424;
    --ui-color: #ff9ee2;
    transition: .5s;
  }
}

 
body {
  margin: 0px;
  color: var(--main-text);
  background-color: var(--main-bg);
}
.headerbg {
  background-color: var(--ui-color);
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 10vh;
  opacity: 0.5;
}
.headerimg{
  height: 10vh;
  position: fixed;
  z-index: 30;
  left: 3vw;
  opacity: 1;
}
.background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url("/static/images/slideshow/1.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}