:root {
  --main-text: #101010;
  --main-bg: #ffffff;
  --ui-color: #ffbb99;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #ffffff;
    --main-bg: #242424;
    --ui-color: #ff9ee2;
    transition: .5s;
  }
}

 
body {
  margin: 0px;
  color: var(--main-text);
  background-color: var(--main-bg);
}
.headerbg {
  background-color: var(--ui-color);
  position: fixed;
  z-index: 20;
  -webkit-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  width: 100vw;
  height: 10vh;
  opacity: 0.5;
}
.headerimg {
  height: 10vh;
  position: fixed;
  z-index: 30;
  -webkit-transform: translate3d(0, 0, 30px);
  transform: translate3d(0, 0, 30px);
  left: 3vw;
  opacity: 1;
}
.background.lazyloaded {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url("/static/images/slideshow/1.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  -webkit-transform: translate3d(0, 0, 0px);
  transform: translate3d(0, 0, 0px);
}
.blank {
  opacity: 0;
  height: 100vh;
}
.contents {
  background-color: var(--main-bg);
  position: absolute;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 10px);
  transform: translate3d(0, 0, 10px);
  width: 100vw;
}