html {
    height: 100%;
}
body {
    margin: 0px;
    height: 100%;
    color: #333333;
    background-color: #f4f5f7;
    font-family: sans-serif;
    overflow: hidden;
    position: relative;
}
a {
    text-decoration: none;
    color: inherit;
}
hr {
    height: 1px;
    background-color: white;
    border: none;
}
h1 {
    border: solid #dcdcdc;
    border-width: 0 0 2px 0;
    text-align: left;
}
.sitename {
    color: #f4f5f7;
    font-size: 30px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
}
body noscript {
    width: 100%;
    height: 60px;
    text-align: center;
    color: #f4f5f7;
    background: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0px;
    z-index: 35;
    -webkit-transform: translate3d(0, 0, 35px);
    transform: translate3d(0, 0, 35px);
}
.mask {
    background: #f4f5f7;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 35;
    -webkit-transform: translate3d(0, 0, 35px);
    transform: translate3d(0, 0, 35px);
    text-align: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  background: var(--main-bg);
  background: -moz-linear-gradient(left, #555 10%, rgba(85, 85, 85, 0) 42%);
  background: -webkit-linear-gradient(left, #555 10%, rgba(85, 85, 85, 0) 42%);
  background: -o-linear-gradient(left, #555 10%, rgba(85, 85, 85, 0) 42%);
  background: -ms-linear-gradient(left, #555 10%, rgba(85, 85, 85, 0) 42%);
  background: linear-gradient(to right, #555 10%, rgba(85, 85, 85, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: #555;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner:after {
  background: #f4f5f7;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#menu-checkbox {
    display: none;
}
@media screen and (min-width:480px) {
    .headerbg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 90px;
        background-color: #333333;
        z-index: -5;
        -webkit-transform: translate3d(0, 0, -5px);
        transform: translate3d(0, 0, -5px);
    }
    .menu-button {
        display: none;
    }
    .menu {
        text-align: right;
        padding-right: 20px;
    }
    .menu a li {
        display: inline-block;
        list-style: none;
        color: #f4f5f7;
        padding: 55px 5px 0 5px;
        margin-right: 20px;
        border-bottom: 3px solid #fab27b;
        line-height: 32px;
        font-size: 20px;
    }
    .menu .links {
        display: inline;
    }
    .contents {
        min-height: 100vh;
    }
}
@media screen and (max-width:480px) {
    .headerbg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 90px;
        background-color: #333333;
        z-index: 15;
        -webkit-transform: translate3d(0, 0, 15px);
        transform: translate3d(0, 0, 15px);
    }
    .menu-button {
        background-color: #fab27b;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: absolute;
        right: 15px;
        top: 20px;
        display: inline-block;
        z-index: 20;
        -webkit-transform: translate3d(0, 0, 20px);
        transform: translate3d(0, 0, 20px);
    }
    .menuline {
        position: absolute;
        top: 0;
        right: 15px;
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        -webkit-transition: top 0.7s ease-out, transform 0.7s ease-out, opacity 0.7s ease-out;
        transition: top 0.7s ease-out, transform 0.7s ease-out, opacity 0.7s ease-out;
    }
    .line_01 { top: 15px; }
    .line_02 { top: 24px; }
    .line_03 { top: 33px; }
    #menu-checkbox:checked+label>.menu-button>.line_01 {
    top: 24px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    #menu-checkbox:checked+label>.menu-button>.line_02 {
    opacity: 0;
    }
    #menu-checkbox:checked+label>.menu-button>.line_03 {
    top: 24px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 350px;
        background: #333333;
        color: #f4f5f7;
        padding: 90px 20px;
        top: -260px;
        left: 0;
        transition: all 0.7s;
    }
    .menu a li {
        border-bottom: 1px solid #f4f4f4;
        padding: 10px 0;
        list-style: none;
    }
    #menu-checkbox:checked+label+.menu {
        top: 0;
    }
    .menu .links {
        margin-top: 1em;
    }
    .contents {
        min-height: 100vh;
        padding-top: 90px;
    }
}
footer {
    padding: 10px;
    background: #333333;
    color: #f4f5f7;
}
.fomenu {
    list-style: none;
    text-align: center;
    font-size: 15px;
}
.fomenu a li {
    padding-top: 10px;
}
.links {
    text-align: center;
    width: 100%;
}
.links .fab {
    font-size: 30px;
    color: white;
    margin: 0 5px;
}
.copyright {
    text-align: center;
    font-size: 10px;
}
.designedBy {
    color: white;
}
