    <footer>
        <div class="fomenu">
            <a href="/"><li>トップ</li></a>
            <a href="/article"><li>記事</li></a>
            <a href="/aboutus"><li>おいちくについて</li></a>
            <a href="/contact"><li>お問い合わせ</li></a>
        </div>
        <hr>
        <div class="links">
            <a href="https://twitter.com/oichiku_">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/oide_chikumacity">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/oichiku">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <hr>
        <div class="copyright">
            <span>
            Copyright © 2020 おいでよ千曲市 All Rights Reserved.
            <br>
            Designed by <u><a href="https://github.com/laddge" class="designedBy">@laddge</a></u>
            </span>
        </div>
    </footer>
</body>
</html>
