<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="msapplication-square70x70logo" content="/static/favicon/site-tile-70x70.png?version={{ version }}">
    <meta name="msapplication-square150x150logo" content="/static/favicon/site-tile-150x150.png?version={{ version }}">
    <meta name="msapplication-wide310x150logo" content="/static/favicon/site-tile-310x150.png?version={{ version }}">
    <meta name="msapplication-square310x310logo" content="/static/favicon/site-tile-310x310.png?version={{ version }}">
    <meta name="msapplication-TileColor" content="/static/favicon#0078d7">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/static/favicon/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png?version={{ version }}">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png?version={{ version }}">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png?version={{ version }}">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png?version={{ version }}">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png?version={{ version }}">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png?version={{ version }}">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png?version={{ version }}">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png?version={{ version }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="36x36" href="/static/favicon/android-chrome-36x36.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/favicon/android-chrome-48x48.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="72x72" href="/static/favicon/android-chrome-72x72.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/android-chrome-96x96.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="128x128" href="/static/favicon/android-chrome-128x128.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/favicon/android-chrome-144x144.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="152x152" href="/static/favicon/android-chrome-152x152.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="256x256" href="/static/favicon/android-chrome-256x256.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="384x384" href="/static/favicon/android-chrome-384x384.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon/android-chrome-512x512.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="36x36" href="/static/favicon/icon-36x36.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/favicon/icon-48x48.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="72x72" href="/static/favicon/icon-72x72.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/icon-96x96.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="128x128" href="/static/favicon/icon-128x128.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/favicon/icon-144x144.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="152x152" href="/static/favicon/icon-152x152.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="160x160" href="/static/favicon/icon-160x160.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/icon-192x192.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="196x196" href="/static/favicon/icon-196x196.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="256x256" href="/static/favicon/icon-256x256.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="384x384" href="/static/favicon/icon-384x384.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon/icon-512x512.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/icon-16x16.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="24x24" href="/static/favicon/icon-24x24.png?version={{ version }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/icon-32x32.png?version={{ version }}">
    <link rel="manifest" href="/static/favicon/manifest.json?version={{ version }}">
    <link rel="stylesheet" href="/static/css/main.css?version={{ version }}">
    <link rel="stylesheet" href="/static/css/top.css?version={{ version }}">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js?version={{ version }}"></script>
    <script type="text/javascript" src="/static/js/scroll.js?version={{ version }}"></script>
    <script type="text/javascript" src="/static/js/theme.js?version={{ version }}"></script>
    <script type="text/javascript" src="/static/js/menu.js?version={{ version }}"></script>
    <script type="text/javascript" src="/static/js/loaded.js?version={{ version }}"></script>
    <title>おいでよ千曲市</title>
</head>

<body>
    <noscript>
        Javascriptが無効です。ページを正しく表示するには、Javascriptを有効にしてください。
        <style>
            body {
                overflow: scroll;
            }
            .mask {
                display: none;
            }
        </style>
    </noscript>
    <div class="mask">
        <div class="spinner"></div>
    </div>
    <header>
        <a href="/" class="logo"><img src=""></a>
        <input type="checkbox" id="menu-checkbox">
        <label for="menu-checkbox">
            <div class="menu-button">
                <span class="menuline line_01"></span>
                <span class="menuline line_02"></span>
                <span class="menuline line_03"></span>
            </div>
        </label>
        <nav class="menu">
            <a href="/"><li>トップ</li></a>
            <a href="/article"><li>記事</li></a>
            <a href="/aboutus"><li>おいちくについて</li></a>
            <a href="/contact"><li>お問い合わせ</li></a>
            <br>
            <div class="links">
                <a href="https://twitter.com/oichiku_">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://instagram.com/oide_chikumacity">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://github.com/oichiku">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="twitter-in-menu">
                <a class="twitter-timeline" href="https://twitter.com/oichiku_?ref_src=twsrc%5Etfw" data-tweet-limit="1" data-chrome="transparent" data-theme="dark">Tweets by @oichiku_</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </navi>
    </header>
    <div class="background" style="background-image: url('/static/images/background/{{ bgimage }}')"></div>
    <div class="oideyo">
        <img src="/static/images/oideyo.png?version={{ version }}" class="oideyoimg">
    </div>
    <div class="movable">
        <div class="scroll"></div>
        <div class="contents">
            <div class="message">
                <h1>ページ作成中</h1>
                こんにちは<br>
                おいでよ千曲市です<br>
                現在このページは作成中です<br>
                しばらくお待ちください<br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="sns">
                <h1>SNS</h1>
                <div class="twitter_btn">
                    <i class="fab fa-twitter"></i> <span>Twitter</span>
                </div>
                <div class="twitter">
                </div>
                <!--
                <br>
                <a href="https://instagram.com/oide_chikumacity" class="insta_btn">
                    <i class="fab fa-instagram"></i> <span>@oide_chikumacity</span><i class="fas fa-external-link-alt"></i>
                </a>
                -->
            </div>
        </div>
        <footer>
            <div class="fomenu">
                <a href="/"><li>トップ</li></a>
                <a href="/article"><li>記事</li></a>
                <a href="/aboutus"><li>おいちくについて</li></a>
                <a href="/contact"><li>お問い合わせ</li></a>
            </div>
            <hr>
            <div class="links">
                <a href="https://twitter.com/oichiku_">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://instagram.com/oide_chikumacity">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://github.com/oichiku">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <hr>
            <div class="copyright">
                <span>
                Copyright © 2020 おいでよ千曲市 All Rights Reserved.
                <br>
                Designed by <u><a href="https://github.com/kaithash" class="designedBy">@kaithash</a></u>
                </span>
            </div>
        </footer>
    </div>
</body>
</html>
