    <div class="background" style="background-image: url('/bg/{{ bgimage }}')"></div>
    <div class="oideyo">
        <img src="/static/images/oideyo.png?version={{ version }}" class="oideyoimg">
    </div>
    <div class="movable">
        <div class="scroll"></div>
        <div class="contents">
            <div class="message">
                <h1>ページ作成中</h1>
                こんにちは<br>
                おいでよ千曲市です<br>
                現在このページは作成中です<br>
                しばらくお待ちください<br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="sns">
                <h1>SNS</h1>
                <div class="twitter_btn">
                    <i class="fab fa-twitter"></i> <span>Twitter</span>
                </div>
                <div class="twitter">
                </div>
                <!--
                <br>
                <a href="https://instagram.com/oide_chikumacity" class="insta_btn">
                    <i class="fab fa-instagram"></i> <span>@oide_chikumacity</span><i class="fas fa-external-link-alt"></i>
                </a>
                -->
            </div>
        </div>
